* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  background-image: url("./images/home2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 22px 0;
  width: 100%;
  height: 92px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoTitle {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  margin-top: 10px;
  color: #ffffff;
  margin-left: 13px;
}

.navItem {
  display: flex;
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 30px;
  margin-top: 15px;
  padding: 5px;
}

.navItem:hover {
  border-bottom: 2px solid #ffffff;
}

.phone {
  margin-left: 10px;
}

.user {
  margin-right: 30px;
}

.btn-text {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  margin-right: 10px;
  color: #0061df;
}

.mainContent {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContentText {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.mainContentTitle {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
}

.mainContentMenu {
  margin: 60px 20px 20px 20px;
  padding: 5px;
}

.mainContentMenu:hover {
  border-bottom: 2px solid #ffffff;
}

.mainContentTab {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(13, 38, 59, 0.1);
  border-radius: 3px;
  padding: 0 20px 0 10px;
}

.mainContentTabItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mainContentTabTitle {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #0d263b;
}

.mainContentTabText {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #696969;
  border-style: none;
  outline: none;
  background-color: #ffffff;
  padding: 9px 90px 9px 0;
  border-bottom: 2px solid #e6e9ec;
}

.mainContentTabSearch {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #0d263b;
  margin: 0 14px;
}

.mainSearchColor {
  color: #ffffff;
  margin-left: 12px;
}

.featured-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.listTitle {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #0d263b;
}

.listText {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #696969;
  margin-top: 10px;
}

.featured-item {
  display: flex;
  margin-top: 50px;
}

.featured-item-1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 428px;
  margin: 0 15px;
  border: 1px solid #e6e9ec;
  box-sizing: border-box;
  border-radius: 3px;
}

.featured-item-1:hover {
  box-shadow: 0px 10px 50px rgba(13, 38, 59, 0.1);
}

.itemImg {
  display: flex;
  justify-content: space-between;
  background-image: url("./images/home1.jpg");
  background-size: cover;
  padding: 20px 0;
  width: 100%;
  height: 220px;
}

.itemBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 12px;
  border-radius: 3px;
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  height: fit-content;
}

.featuredBtn {
  background: #0061df;
}

.saleBtn {
  background: #0d263b;
}

.featured-inner {
  height: 150px;
  padding: 20px;
  border-bottom: 1px solid #e6e9ec;
}

.featured-inner-title {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0d263b;
}

.featured-inner-text {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #696969;
  margin-top: 9px;
}

.featured-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.featured-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.featured-old-price {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #696969;
}

.choose {
  background: #f6f8f9;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-items {
  display: flex;
  margin-top: 50px;
}

.choose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 3px;
  width: 300px;
  padding: 40px 30px;
  margin: 0 15px;
}

.choose-item:hover {
  box-shadow: 0px 10px 50px rgba(13, 38, 59, 0.1);
}

.choose-item-title {
  margin: 35px 0 17px 0;
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #0d263b;
}

.choose-item-text {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #696969;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.slideImg {
  width: 300px;
  height: 350px;
  margin: 0 50px;
  text-align: center;
  padding: 130px 0 45px 0;
}

.slide1 {
  background-image: url("./images/home3.jpg");
  background-size: cover;
}

.slide2 {
  background-image: url("./images/home4.jpg");
  background-size: cover;
}

.slide3 {
  background-image: url("./images/home5.jpg");
  background-size: cover;
}

.slide4 {
  background-image: url("./images/home6.jpg");
  background-size: cover;
}

.slide5 {
  background-image: url("./images/home7.jpg");
  background-size: cover;
}

.slideText {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 65px;
}

.guides {
  border-bottom: 1px solid #e6e9ec;
}

.guidesImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: url("./images/home3.jpg");
  background-size: cover;
}

.guidesText {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  margin: 15px 0;
}

.guidesBtn {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  width: 176px;
  height: 55px;
  padding: 19px 50px;
}

.guidesBottom {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}

.guidesTotal {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #0061df;
}

.guidesTitle {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #696969;
}
